## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [49]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [50]:
s = "Hi there Sam!"
lt = s.split()
print(lt)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [51]:
planet = "Earth"
diameter = 12742

In [52]:
a = "The diameter of {} is {} kilometers."
print(a.format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [53]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [54]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [41]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [42]:
lt = [1,2,3,4] #list is mutable
lt[2] = 90
print(lt)

tp = (1,2,3,4) #tuple is immutable
#tp[2] = 90
print(tp)

[1, 2, 90, 4]
(1, 2, 3, 4)

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [43]:
def dom(s):
  a = s.split("@")
  print(a[-1])

In [44]:
s = "user@domain.com"
dom(s)

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [45]:
def cont(w,s):
  if w in s:
    return True
  else:
      return False

In [46]:
s = "Barking dog seldom bites"
print(cont("dog",s))

s1 = "Barking Dog seldom bites"
print(cont("dog",s1))

True
False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [47]:
def count(w,s):
  return s.count(w)

In [48]:
s = "Jimmy is a dog and dog is a faithfull animal"
print("The word dog is present",count("dog",s),"times")

The word dog is present 2 times

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [36]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed + 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding>60 and speeding<=80:
        return 'Small Ticket'
    elif speeding<=60:
        return 'No Ticket'

In [37]:
caught_speeding(80,True)

'Big Ticket'

In [40]:
caught_speeding(65,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [35]:
emplist = [10000,20000,40000,50000,60000,90000]
tot_salary = 0
for sal in emplist:
  tot_salary = tot_salary + sal
print(tot_salary)

270000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [17]:
def Mergedic(dict1, dict2):
    res = dict1 | dict2
    return res

In [18]:

dict1 = {"Empid","Empname","Basicpay"}
dict2 = {"DeptName","DeptId"}
d3 = Mergedic(dict1,dict2)
print(d3)

{'Empid', 'Empname', 'DeptId', 'Basicpay', 'DeptName'}